body {
  margin: 0
}
#main {
  display: inline;
  float: left;
  width: 50%;
}
#controls {
  padding: 32px;
}
#site {
  display: inline-flex;
  float: right;
  height: 100vh;
  width: 50%;
}
.cm-s-paper {
  overflow-y: scroll;
  height: calc(75vh - 74px)
}
